// THEME

$main		: #3b1700;
$fs			: 36px;
$lh			: 42px;

// CORE

body {
	font-family: 'BookmanOldStyle';
	background-color: #fff;
	color: $main;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	cursor: url('img/ccursor@2x.png') 30 16, pointer;
}

// TYPE
p {
	margin: 0;
	&.indent {
		padding-left: 30px;
	}
}
a {
	text-decoration: none;
	color: black;
	&:active {
		color: black;
	}
	&:hover {
		color: black;
	}
	&:visited {
		color: black;
	}
}
h1 {
	margin: 0;
	font-weight: 500;
	font-size: $fs;
	line-height: $lh;
	display: inline-block;
	&.title {
		width: 60vw;
	}
}

// LAYOUT

#container {
	#images {
		width: 110vw;
		// margin-top: 3vh;
		height: calc(100vh - #{$lh * 1.5});
		overflow: hidden;
		white-space: nowrap;
		display: flex;
		align-items: flex-end;
		.img {
			margin-left: 20px;
			display: none;
			height: 90vh;
			width: auto;
			&.show {
				display: inline-flex;
				vertical-align: bottom;
				max-width: 40vw;
				img {
					white-space: nowrap;
					width: auto;
					height: 100%;
				}
			}
			&:not(.not) {
				position: absolute;
				left: 60vw;
			}
			&.border {
				&:hover {
					transition: all .5s ease;
					cursor: url('img/acursor@2x.png') 30 16, pointer;
				}
			}
		}
		.info {
			position: absolute;
			width: 40vw;
			height: 100vh;
			left: calc(60vw + 17px);
			display: none;
			background: white;
			&.show {
				padding: 2vh;
				display: inline-block;
				// transition: .5s all ease-in;
			}
		}
	}
}
footer {
	position: fixed;
	padding-left: 20px;
	bottom: 0;
	height: $lh * 1.5;
	width: 100vw;
	background: white;
	display: flex;
	align-items: flex-end;
	h1 {
		padding-bottom: 10px;
	}
}
