// THEME

$main		: #3b1700;
$fs			: 36px;
$lh			: 42px;
$fs-s		: 20px;
$lh-s		: 24px;
$margin : 20px;

// CORE

body {
	font-family: 'BookmanOldStyle';
	background-color: #fff;
	color: $main;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	cursor: url('img/ccursor@2x.png') 30 16, pointer;
}

// TYPE
p {
	margin: 0;
	font-size: $fs-s;
	line-height: $lh-s;
	&.indent {
		padding-left: 30px;
	}
}
a {
	text-decoration: none;
	color: black;
	&:active {
		color: black;
	}
	&:hover {
		color: black;
	}
	&:visited {
		color: black;
	}
}
h1 {
	margin: 0;
	font-weight: 500;
	font-size: $fs;
	line-height: $lh;
	display: inline-block;
	&.title {
		width: 62vw;
	}
	&#info {
		&:after {
			content: 'info'
		}

	}
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

// LAYOUT

#container {
	#images {
		height: calc(100vh - #{$lh * 1.5});
		width: 100vw;
		overflow: hidden;
		display: flex;
		align-items: flex-end;
		.img {
			height: 100%;
			max-height: calc(100vh - #{$lh * 1.5} - #{$margin});
			max-width: calc(92vw - #{$margin});
			width: auto;
			display: none;
			&.show {
				display: inline-block;
				position: relative;
				margin-left: $margin;
				&:before {
					content: ' ';
					display: inline-block;
					vertical-align: bottom;
					height: 100%;
				}
				img {
					height: auto;
					max-height: 100%;
					max-width: 100%;
					display: inline-block;
					vertical-align: bottom;
				}
				&:not(.not) {
					position: absolute;
					left: 92vw;
					width: auto;
					max-width: 100vw;
					display: inline-block;
					img {
						height: 100%;
						width: auto;
						vertical-align: center;
						max-height: none;
						max-width: none;
					}
				}
			}
			&.border {
				&:hover {
					transition: all .5s ease;
					cursor: url('img/acursor@2x.png') 30 16, pointer;
				}
			}
		}
		.info {
			position: absolute;
			width: 40vw;
			height: 100vh;
			top: 0;
			left: calc(60vw + 17px);
			display: none;
			background: white;
			&.show {
				padding: $margin;
				display: inline-block;
				// transition: .5s all ease-in;
			}
		}
	}
}
footer {
	position: fixed;
	padding-left: $margin;
	bottom: 0;
	height: $lh * 1.5;
	width: 100vw;
	background: white;
	display: flex;
	align-items: flex-end;
	h1 {
		padding-bottom: 10px;
	}
}
